/* =============================================================================
   My CSS
   ========================================================================== */


/* ---- base ---- */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset(0 0 6px rgba(0, 0, 0, .3));
    border-radius: 5px;
    background: #f5f5f5;
}

 ::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset(0 0 6px rgba(0, 0, 0, .3));
    background-color: #555;
    /*rgb(158, 165, 171)*/
}

@font-face {
    font-family: 'beyond';
    src: url('../fonts/bahaus.otf');
}
@font-face {
    font-family: 'kanit_medium';
    src: url('../fonts/kanit_medium.ttf');
}
@font-face {
    font-family: 'kanit_regular';
    src: url('../fonts/kanit_regular.ttf');
}
@font-face {
    font-family: 'josefin';
    src: url('../fonts/josefin.ttf');
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font: normal 75% Arial, Helvetica, sans-serif;
    overflow: auto;
    width: 100%;
    background-color: #0c0032;
    background-image: url('../images/banner.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: cover;
}

canvas {
    display: block;
    top:0;
    /* vertical-align: bottom; */
}



/*top navbar*/

.navbar {
    position: absolute;
    padding: 0px;
    top: 0;
    width: 100%;
    background: rgba(12, 0, 50, .4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    z-index: 1000;
    position: fixed;
    /* height: 15%; */
}

.navbar h1 {
    color: #fff;
    font-size: 39px;
    letter-spacing: 1px;
    font-family: "beyond";
    line-height: 20px;
}

.navbar-toggler-icon,
.navbar-toggler {
    color: #fff!important;
}

.navbar h1 span:nth-child(3) {
    color: #d79922;
    /* ea148c*/
}

/* navbar-nav*/

ul.navbar-nav {
    font-family: Consolas, "courier new";
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding-right: 15px;
}

.nav-item .btn-outline-warning {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.nav-item .btn-outline-warning:hover {
    background: transparent;
    color: #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}


/*main*/

main {
    text-align: center;
    position: absolute;
    margin: 0 auto;
    top: 13%;
    margin-bottom: 20px;
}

div.window.mx-auto {
    background: #fff;
    padding-top: 30px;
    z-index: 1;
    padding-bottom: 20px;
    min-height: 100%;
    overflow: auto;
}

main #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
}

main #progressbar li {
    list-style-type: none;
    color: #99a2a8;
    font-size: 9px;
    width: calc(100%/6);
    float: left;
    position: relative;
    font: 500 13px/1 "Roboto", sans-serif;
}

main #progressbar li:nth-child(2):before {
    content: "\f002";
}

main #progressbar li:nth-child(3):before {
    content: "\f207";
}

main #progressbar li:nth-child(4):before {
    content: "\f007";
}

main #progressbar li:nth-child(5):before {
    content: "\f155";
}

main #progressbar li:nth-child(6):before {
    content: "\f145";
}

main #progressbar li:before {
    content: "\f073";
    font: normal normal normal 20px/30px FontAwesome;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    background: #eaf0f4;
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

main #progressbar li:not(:nth-child(1)):after {
    content: "";
    width: 100%;
    height: 10px;
    background: #eaf0f4;
    position: absolute;
    left: -50%;
    top: 21px;
    z-index: -1;
}
.text-red{
    color: red;
}
main #progressbar li:last-child:after {
    width: 100%;
}

main #progressbar li.active {
    color: #5cb85c;
}

main #progressbar li.active:before,
main #progressbar li.active:after {
    background: #5cb85c;
    color: white;
}

section.body {
    padding-top: 20px;
    overflow-y: auto;
    /*max-height: 1290px;*/
    overflow-x: hidden;
}


/*form*/

form>fieldset:not(:first-of-type) {
    display: none;
}

#date_form {
    text-align: left!important;
    font-weight: 730;
    font-size: 1.2em!important;
}

input {
    border-radius: 5px !important;
    height: 42px !important;
}

#date_form label,
input {
    color: #4b2354!important;
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #999
}

.form-control::-webkit-input-placeholder {
    color: #999
}

div.buttons {
    margin-top: 25px;
}

#date_form button {
    background: #5cb85c!important;
    color: white!important;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 98px;
    font: 13px "Roboto", sans-serif;
    border: 1px solid #5cb85c;
    margin: 0 5px;
    text-transform: uppercase;
    display: inline-block;
    padding-top: 13px;
    padding-bottom: 13px;
}

#date_form button.previous_button {
    background: transparent!important;
    color: #99a2a8!important;
    border-color: #99a2a8;
}

#date_form button.previous_button:hover,
#date_form button.previous_button:focus {
    background: #99a2a8!important;
    border-color: #99a2a8!important;
    color: #fff!important;
}

/*searc options*/
.bus-name{
    font-family: kanit_medium;
}

.bus-description div{
    font-family: josefin;
    padding-top: 9px;
    color: #99a2a8;
    line-height: 1;
}
.fr{
    float: right;
}
.btn-circle {
    border-radius: 25px!important;
    overflow: hidden;
    outline: 0px !important;
    position: relative;
    text-align: center;
    background: transparent;
    color: #5cb85c;
    border: 1px solid #5cb85c;
    font-family: kanit_medium;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .2);
}
.book_btn{
    padding: 7px 19px 7px 19px;
}

.card{
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
}

/*seat chart*/
div.seatCharts-cell {
    color: #182C4E;
    height: 35px;
    width: 37px;
    line-height: 25px;
    padding-top: 5px;
}

.front-indicator {
    display: inline;
    width: 60px;
    float: right;
    margin-top: -35px;
    margin-right: 5px;
    background-color: #d79922;
    color: #fefefe;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-family: kanit_regular;
}

div.seatCharts-seat {
    color: #FFFFFF;
    cursor: pointer;
}

div.seatCharts-row {
    height: 35px;
}

div.seatCharts-seat.available {
    background-color: #969696;
}

div.seatCharts-seat.available.first-class {
    background-color: #2483F7;
}
div.seatCharts-seat.available.first-class.seater_35{
    width: 60px;
}

}
div.seatCharts-seat.focused {
    background-color: #76B474;
}

div.seatCharts-seat.selected {
    background-color: #307701;
}
div.seatCharts-seat.selected.seater_35,
div.seatCharts-seat.focused.seater_35{
    width: 60px!important;
}

div.seatCharts-seat.unavailable {
    background-color: #980303;
}

div.seatCharts-container {
    border-right: 1px dotted #adadad;
    min-width: 200px;
    padding: 20px;
    float: left;
}

div.seatCharts-legend {
    padding-left: 0px;
    position: absolute;
    bottom: 2px;
}

ul.seatCharts-legendList {
    padding-left: 0px;
}

span.seatCharts-legendDescription {
    margin-left: 5px;
    line-height: 24px;
}
li.seatCharts-legendItem>div.seatCharts-seat.seater_35{
    width: 37px!important;
}


#checkout-button {
    display: block;
    margin: 10px 0;
    font-size: 14px;
}

#selected-seats {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 250px;
}
#selected-seats li {
    list-style-type: none;
    border-bottom: 1px dotted #adadad;
    font-family: Consolas, "courier new";
    display: inline-block;
    padding-inline-start: 0px;
    padding-left: 0px;
}
.booking-details {
    float: left;
    text-align: left;
    margin-left: 10px;
    font-size: 13px;
    position: relative;
    height: 401px;
}

.booking-details h2 {
    margin: 5px 0 10px 0;
    font-size: 17px;
    color: #444;
    font-size: 35px;
    font-weight: normal;
    line-height: 1.1;
}

.booking-details h3 {
    margin: 5px 5px 0 0;
    font-size: 15px;
    font-family: Monospace;
}

@media (max-width:601px) {
    div.seatCharts-container {
        border: none;
    }
}
@media (max-width: 736px){
    .contents h1 {
        font-size: 24px;
        width: calc(100%);
    }  
}
@media (max-width: 480px){
    .content h1 {
        font-size: 20px;
        width: 100%;
    }   
}


/*media queries*/


/*small screen*/

@media (max-width:991px) {
    .navbar {
        border-bottom: 0px;
        background: rgba(12, 0, 50, .9);
    }
}

@media (max-width:350px) {
    #progressbar {
        display: none;
    }
}
@media (max-width:575px) {
    .navbar-brand{
        margin-left: 14px;
    }
    button.navbar-toggler{
        margin-right: 20px;
    }
}


/*large screen*/

@media (min-width:991px) {
    ul.navbar-nav .nav-item:last-child {
        margin-right: -70px;
    }
}